.boxp {
    width: 25rem;
    height: 20rem;
    background-color: var(--bg-cards);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border-radius: 20px;
    margin: 10px;
}
img {
    width: 10rem;
    border-radius: 50%;
    border: solid .20rem green;
}
h2 {
    font-size: 30px;
    color: var(--text-color);
}
p {
    font-size: 15px;
    color: var(--text-color);
    margin-top: -15px;
}

.boxinfo {
    width: 25rem;
    height: 15rem;
    background-color: var(--bg-cards);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 10px;
    border-radius: 20px;
}
.globe {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;

    border-radius: 20px;

    width: 100%;
    height: 2rem;
    padding: 0;
    margin-bottom: 50px;
    margin-top: 10px;
}
.globe img {
    margin-left: 20px;
}
.globe p {
    margin-top: 13px;
    margin-left: 3px;
}
.boxinfo img {
    width: 30px;
    border: none;
    border-radius: 0%;
}

.tech {
    width: 25rem;
    height: 9rem;

    display: grid;
	grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1px;
    align-items: center;
    justify-content: center;

    margin: 10px;
    border-radius: 20px;

    background-color: var(--bg-cards);
}
.tech p {
    margin-top: .5rem;
    margin-left: .2rem;
    border-radius: 6px;
    background-color: var(--bg-techs);

    margin-left: 15px;
    width: 85px;
    height: 20px;
    color: var(--bg-cards);
    text-align: center;
    font-size: 15px;
}