a {
    text-decoration: none;
    outline: none;
    color: var(--text-color);
}

.destaque, .about  {
    border-radius: 5px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 98vw;
    height: 100%;

}

.projects {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 90vw;
    height: 7rem;
    margin: 20px;
    border-radius: 10px;

    background-color: var(--bg-cards);
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;

    width: 100%;
    margin: 25px;
}
header h1 {
    color: var(--text-color);
}
header p {
    margin-top: 5px;
    cursor: pointer;
}

.Profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    width: 90vw;
    height: 100%;
}
.Profile .about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 50vw;
    height: 60vh;
    background-color: var(--bg-cards);
}
.about p {
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: 500;
}
.about a {
    width: 13rem;
    height: 2.5rem;
    color: white;
    background-color: var(--alpha-color);
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 6px;
    border-radius: 4px;
}
.about:hover {
    border: solid 3px var(--text-color);
}
.about a:hover {
    background-color: var(--alpha-color-hover);
}

.destaque {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40rem;
    height: 23.4rem;
    margin-left: 10px;
    background-color: var(--bg-cards);
    border: solid 3px var(--text-color);
}
.destaque img {
    border: none;
    border-radius: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--alpha-color);
    background-color: var(--bg-cards);
    width: 99vw;
    height: 3rem;
    margin-top: 8rem;
}
footer p {
    margin-top: 15px;
    margin-right: 10px;
}